<hr>
<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-footer col-md-3 col-xs-6">
                <h3>Our Latest Work</h3>
                <div class="portfolio-item">
                    <div class="portfolio-image">
                        <a href="{{ site.baseurl }}/portfolio"><img src="{{ site.baseurl }}/assets/images/portfolio9.jpg" alt="Project Name"></a>
                    </div>
                </div>
            </div>
            <div class="col-footer col-md-3 col-xs-6">
                <h3>Navigate</h3>
                <ul class="no-list-style footer-navigate-section">
                    <li><a href="{{ site.baseurl }}/faq">FAQ</a></li>
                </ul>
            </div>

            <div class="col-footer col-md-4 col-xs-6">
                <h3>Contacts</h3>
                <p class="contact-us-details">
                    <b>Address:</b> 460 E 76th Ave, Unit A, Denver, CO 80229<br>
                    <b>Phone:</b> (303) 554-8883<br>
                    <b>Email:</b> <a href="mailto:info@getbellaservices.com">info@getbellaservices.com</a>
                </p>
            </div>
            <div class="col-footer col-md-2 col-xs-6">
                <h3>Stay Connected</h3>
                <ul class="footer-stay-connected no-list-style">
                    <li><a href="http://www.facebook.com/BellaRestorationServicesINC/" class="facebook"></a></li>
                    <li><a href="http://www.homeadvisor.com/rated.BellaRestoration.44103056.html" class="twitter"></a></li>
                    <li><a href="http://plus.google.com/111383186658896046675" class="googleplus"></a></li>
                </ul>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="footer-copyright">© 2012-2023 Haley Computer Solutions. All rights reserved.</div>
            </div>
        </div>
    </div>
</div> 