<!-- Navigation & Logo-->
<div class="mainmenu-wrapper">
    <div class="container">
        <div class="menuextras">
            <div class="extras">                    
                <ul>
                    <li><strong>24 Hour Emergency Service</strong>: Call (303) 554-8883</li>
                </ul>
            </div>
        </div>

        <nav id="mainmenu" class="mainmenu">
            <ul>
                <li class="logo-wrapper"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/images/Bella_Logo.png" alt="Bella Restoration Services Logo"></a></li>
                <li class="{% if page.url == '/' %}active{% endif %}"><a href="{{ site.baseurl }}/">Home</a></li>
                <li class="has-submenu">
                    <a href="#">Services +</a>
                    <div class="mainmenu-submenu">
                        <div class="mainmenu-submenu-inner">
                            <div>
                                <h4>Services</h4>
                                <ul>
                                    <li><a href="{{ site.baseurl }}/services/water-damage">Water Damage Restoration</a></li>
                                    <li><a href="{{ site.baseurl }}/services/fire-damage">Fire Damage Restoration</a></li>
                                    <li><a href="{{ site.baseurl }}/services/smoke-damage">Smoke Damage Restoration</a></li>
                                    <li><a href="{{ site.baseurl }}/services/mold-damage">Mold Damage Restoration</a></li>
                                    <li><a href="{{ site.baseurl }}/services/cleaning">Cleaning</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="{% if page.url == '/faq' %}active{% endif %}"><a href="{{ site.baseurl }}/faq">FAQ</a></li>
                <li class="{% if page.url == '/contact' %}active{% endif %}"><a href="{{ site.baseurl }}/contact">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</div> 